@import './base.css';

table,
th,
td {
  padding: 0.3rem;
  border: 1px solid black;
  border-collapse: collapse;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a.button,
button,
input,
select,
textarea {
  padding: 0.4rem 0.6rem;
  background-color: var(--color-background-mute);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  border-radius: 6px;
  font-size: 1rem;
}

a.button.accent,
button.accent {
  background-color: #277e77;
}

a.button:hover,
input:hover,
select:hover,
textarea:hover {
  background-color: var(--color-background-soft);
  border: 1px solid var(--color-border-hover);
}

a.button.accent,
button.accent:hover {
  background-color: #23605b;
}

div.container {
}

div.container-slim {
}
